html {
  font-family: Overpass, sans-serif;
}

section {
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

h1 {
  color: #fff;
}

li:first-child,
li:nth-child(2) {
  border-bottom: 3px solid rgba(255, 255, 255, .5);
}

a {
  text-decoration: none;
  color: #fff;
}

.icon {
  color: #fff;
}

.btn-ghost {
  color: #fff;
  border-color: rgba(255, 255, 255, .7);
}

.btn:hover {
  color: transparent;
  border-color: rgba(255, 255, 255, .7);
  background-color: transparent;
}

@media only screen and (min-width: 60em) {

  li:first-child,
  li:nth-child(2) {
    border-bottom: 0 solid rgba(255, 255, 255, .5);
    border-right: 3px solid rgba(255, 255, 255, .5);
  }
}
